.truckCardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.truckCard {
  flex-basis: 20%;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  text-align: center;
}

.truckCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
