* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav {
  padding: 1rem;
  background-color: #e3e3e3;
}

.LeftNav {
  width: min-content;
  margin: auto;
  display: block;
}
.RightNav {
  width: min-content;
  margin: auto;
  display: block;
}

.SettingsGear {
  color: gray;
   margin: auto;
   display: block;
}

.FranchiseButton {
  max-width: 350px;
  width: 80%;
  font-weight: bold;
}

.NavButton {
  max-width: 110px;
  width: 100%;
  font-weight: bold;
  margin: .6rem 1rem;
  background-color: #fff;
}

.RightNav {
  width: min-content;
  margin: auto;
  display: block;
}

.DashboardIcon {
  color: gray;
  margin: auto;
  display: block;
}

/*Hover effects*/
.LeftNav:hover {
  cursor: pointer;
}

.SettingsGear:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: purple;
}

.RightNav:hover {
  cursor: pointer;
}

.DashboardIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: purple;
}

hr {
  border: 1px solid lightgray;
}

.PageTitle {
  margin-top: 1rem;
  flex-wrap: wrap;
}

.HelpInfo {
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.CreateNewButton {
  margin-top: 1rem;
  display: block;
}

/****Hover Effects*****/
.HelpInfo:hover {
  color: lightgray;
  cursor: pointer;
}

.SearchComponent {
  max-width: 340px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: right;
}

.ListButtonContainer {
  background-color: #e3e3e3;
  height: 100%;
  margin: 0 0 0 .95rem;
  padding: 1rem;
  display: grid;
}
.nav-tabs {
  font-size: 20px;
}

.nav-link.active {
  background-color: #e3e3e3 !important;
  border: none;
}

.ListButton {
  display: block;
  margin: 1rem auto;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
}

.ListButtonFilter {
  display: block;
  margin: 1rem auto;
  font-size: 15px;
  max-width: 100px;
  width: 100%;
}

.NoPadding {
  padding: 0;
}

.CalendarButtonContainer {
  background-color: #e3e3e3;
  height: 100%;
  margin: 0 0 0 .95rem;
  padding: 1rem;
}


/***React Calendar***/
.react-calendar {
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}