* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  min-height: 100vh; /* make sure it is at least as tall as the viewport */
  position: relative;
  margin: 0;
}

body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
  margin: 0;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.containerFluid {
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav {
  padding: 1rem;
  background-color: #101820;
}

.LeftNav {
  width: min-content;
  margin: auto;
  display: block;
}
.RightNav {
  width: min-content;
  margin: auto;
  display: block;
}

.SettingsGear {
  color: #e60000;
  margin: auto;
  display: block;
}

.FranchiseButton {
  max-width: 350px;
  width: 80%;
  font-weight: bold;
  background-color: #830000;
  border-color: #e60000;
}

.NavButton {
  max-width: 110px;
  width: 100%;
  font-weight: bold;
  margin: 0.6rem 1rem;
  background-color: #830000;
  border-color: #e60000;
  color: #ffffff;
}

.RightNav {
  width: min-content;
  margin: auto;
  display: block;
}

.DashboardIcon {
  color: #e60000;
  margin: auto;
  display: block;
}

/*Hover effects*/

.FranchiseButton:hover {
  background-color: #e60000;
  border-color: #e60000;
}

.NavButton:hover {
  background-color: #e60000;
  border-color: #e60000;
}

.LeftNav:hover {
  cursor: pointer;
}

.SettingsGear:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #ff6666;
}

.RightNav:hover {
  cursor: pointer;
}

.DashboardIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #ff6666;
}

.CreateNewButton:hover {
  background-color: #005ccc;
  border-color: #005ccc;
}

/*End Hover Effects*/

hr {
  border: 1px solid lightgray;
}

.PageTitle {
  margin-top: 1rem;
  flex-wrap: wrap;
}

.HelpInfo {
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.noMarginRight {
  margin-right: 0 !important;
}

.CreateNewButton {
  margin-top: 1rem;
  display: block;
  background-color: #003069;
  border-color: #003069;
}

/****Hover Effects*****/
.HelpInfo:hover {
  color: lightgray;
  cursor: pointer;
}

.SearchComponent {
  max-width: 340px;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: right;
}

/*accountModal*/

/* .modal {
margin:auto;
width: 23%;
} */
.modal-dialog {
  margin: 0;
}

.accountModal {
  position: fixed;
  max-width: 23%;
  height: 100% !important;
  min-height: 100% !important;
  margin-left: 77%;
  overflow: hidden;
}

.newAccountHeader {
  background-color: #830000;
  color: #ffffff;
}

.close {
  color: #ffffff;
  opacity: 100;
}

.close:hover {
  color: #ffffff;
  transform: scale(1.2);
  opacity: 100 !important;
}

.formNote {
  font-size: 10px;
  color: #888888;
}

label {
  font-size: 12px;
}

.form-control {
  font-size: 13px;
}

.custom-select {
  font-size: 13px;
}

/* .btn {
  font-size: 0.8rem;
} */

.ListButtonContainer {
  background-color: #e3e3e3;
  height: 80vh;
  margin: 0 0 0 0.95rem;
  padding: 1rem;
  display: grid;
  max-height: 80vh;
}
.nav-tabs {
  font-size: 18px;
}

.nav-link.active {
  background-color: #e3e3e3 !important;
  border: none;
}

.nav-link {
  color: #000000;
}

.ListButton {
  display: block;
  margin: 0.5rem auto;
  font-size: 20px;
  max-width: 200px;
  width: 100%;
  max-height: 45px;
}

.ListButtonFilter {
  display: block;
  margin: 1rem auto;
  font-size: 15px;
  max-width: 100px;
  width: 100%;
}

.NoPadding {
  padding: 0;
}

.grayBG {
  background-color: #e3e3e3;
}

.CalendarButtonContainer {
  background-color: #e3e3e3;
  height: 100%;
  margin: 0 0 0 0.95rem;
  padding: 1rem;
}

td {
  text-align: center;
  vertical-align: middle !important;
}
.notrequired {
  color: #b3b3b3;
  font-size: 11px;
}

.MonthlySummary {
  max-width: 400px;
  width: 100%;
  margin: 1rem 3rem;
  height: 100vh;
}

.MonthlySplit {
  width: 44%;
  margin: 0.5rem;
  display: inline-grid;
}
.MonthlyStats {
  border: 1px solid #b8b8b8;
}

.NetIncomeRibbon {
  background-color: #3eb489;
}
.SummaryStat {
  padding: 1rem;
}

.IncomeReports {
  margin: 2rem;
}
